@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body{
	font-family: 'Oxygen', sans-serif;
	font-size: 400;
}
#carrusel{
	position: relative;
	min-height: 450px;
}
#carrusel span{
	position: absolute;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	width: 100%;
	height: 100%;
	display: block;
}
#carrusel .texto{
	z-index: 2;
}
.titulosHome{
	font-size: 3rem;
}
.destinosHome{
	background-color: #fafafa;
}
#footer{
	width: 100%;
	height: 150px;

}
@media all and (max-width 768px){
	.titulosHome{
	font-size: 2rem;
}
}