@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body{
	font-family: 'Oxygen', sans-serif;
	font-size: 400;
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}
a{
	list-style: none;
    text-decoration: none;
	color: darkorange;
}
#carrusel{
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	width: 100%;
	height: 500px;
	border: solid 3px rgb(215, 208, 208);
    border-radius: 25px;
}
#carrusel .texto{
	z-index: 2;
}
.titulosHome{
	margin-left: 5px;
	font-size: 3rem;
}
.destinosHome{
	background-color: #fafafa;
}
#footer{
	padding: 1em 0;
	width: 100%;
	height: 150px;
	margin-top: auto;
}
@media all and (max-width: 768px){
	.titulosHome{
	font-size: 2rem;
}
}